:root {
  /*#fefae1*/
  --white: white;
  --black: black;
  --accent: deepskyblue;
  --lemon: #feffef;
}

var(--offwhite)

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
/*  font-size: 16px;*/
  background-color: var(--white);
}

.navigation a:hover::after {
  content: '->';
  position: absolute;
  margin-left: 3px;
}

.navigation a {
  padding-right: 30px;
  text-decoration: none;
}

.navigation a:hover {
  text-decoration: underline;
}

#navbar {
  display: flex;
  border-bottom: 3px solid var(--black);
  background-color: var(--lemon);
}

#navbar a {
  color: var(--black);
  padding-top: 13px;
  padding-bottom: 10px;
  padding-left: 20px;
  font-weight:700;
  font-size: 18px;
}

#navbar a.stratosphere {
  color: var(--accent);
}

#logo {
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  background-color: var(--accent);
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

#menu {
  flex: 20%;
  min-width: 250px;
  max-width: 300px;
}

.group {
  padding-left:10px;
  margin-top: 5px;
}

.group a {
  padding-top: 3px;
  padding-left: 10px;
  display: block;
  color: var(--black);
}

#document {
  flex: 80%;
  min-height: calc(100% - 135px);
  padding-left: 20px;
  padding-right: 20px;
  max-width: 700px;
  background-color: var(--white);
}

#document pre {
  padding: 20px;
  border: 1px solid var(--black);
  background-color: var(--lemon);
}

#document a {
  color: var(--accent);
}

#document h1 {
  border-bottom: 3px solid var(--accent);
  padding-left: 3px;
}

#document p, #document li {
  line-height: 22px;
}

#footer {
  border-top: 3px solid var(--black);
  background-color: var(--lemon);
}

#footer a {
  padding: 30px;
}